.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-container{
  /* width: 100%; */
  height: 4rem;
  /* box-shadow: 0 1px 1px rgb(0 0 0 / 20%); */
 display:flex;
 justify-content: space-between;
}

.header-container-items{
  padding-top: 1rem;
  padding-right: 2rem;
}
.header-container-sub-item{
 
    display: inline-block;
    margin-right: 10px;

}
.header-container-not-image{
  margin-left: 49px;
    margin-top: 10px;
}

.header-container-is-image{
  position: absolute;
}

.header-container-items-company-name{
  color:#090739;
  font-weight: bolder;
}

.header-container-is-image-arrow{
  position: absolute;
    margin-top: 10px;
}
.header-container-is-image-messagae{
  margin-left: -2rem;
    margin-top: 7px;
}

.vl {
  border-left: 2px solid #E9E9E9;
  height: 25px;
  margin-top: 5px;
  margin-left: -34px;
  position: absolute; 
}
.header-container-app-name{
  font-weight: bolder;
    opacity: 0.4 ;
}
.header-container-arrow-left{
  margin-top: 4px;
  position: absolute;
}

.layout-container{
  display: flex;
  justify-content: space-between;
}

.side-bar-countainer{
  width: fit-content;
  background: #FCFCFC;
  height: 100vh;
}

.main-app-container{
  margin-left: 6rem;
  margin-top: 2rem;
}

.side-bar-countainer-items{
  /* padding-left: 17px; */
    /* padding-right: 150px; */
    padding-top: 1rem;
}

.side-bar-countainer-top-item{
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;
}

.side-bar-countainer-name{
  margin-left: 12px;
  margin-top: -2px;
  font-weight: bolder;
  opacity: 0.8;
  font-size: 29px;
  color: #404040;
}
.side-bar-countainer-create-task{
  background: #EEF2FB;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  display: flex;
  justify-content: space-between;

}

.month-calendar-container{
  width: 95%;

  /* background-color: #d1d0e3; */
}
.month-calendar-container-one{
  display: flex;
  justify-content: space-between;
}
.month-calendar-container-day{
  opacity: 0.3;
}
.month-calendar-container-day-active{
   background-color: #346BF8;
    width: 3rem;
    height: 23.5px;
    border-radius: 7px;
    padding-top: 2px;
    padding-left: 16px;
    color: white;
   
}

.vertical-line{
  display: inline-block;
  border-left: 1px solid #ccc;
  /* margin: 0 10px; */
  height: 100vh;
  opacity: 0.3;

}