.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-container{
  /* width: 100%; */
  height: 4rem;
  /* box-shadow: 0 1px 1px rgb(0 0 0 / 20%); */
 display:flex;
 justify-content: space-between;
}

.header-container-items{
  padding-top: 1rem;
  padding-right: 2rem;
}
.header-container-sub-item{
 
    display: inline-block;
    margin-right: 10px;

}
.header-container-not-image{
  margin-left: 49px;
    margin-top: 10px;
}

.header-container-is-image{
  position: absolute;
}

.header-container-items-company-name{
  color:#090739;
  font-weight: bolder;
}

.header-container-is-image-arrow{
  position: absolute;
    margin-top: 10px;
}
.header-container-is-image-messagae{
  margin-left: -2rem;
    margin-top: 7px;
}

.vl {
  border-left: 2px solid #E9E9E9;
  height: 25px;
  margin-top: 5px;
  margin-left: -34px;
  position: absolute; 
}
.header-container-app-name{
  font-weight: bolder;
    opacity: 0.4 ;
}
.header-container-arrow-left{
  margin-top: 4px;
  position: absolute;
}

.layout-container{
  display: flex;
  justify-content: space-between;
}

.side-bar-countainer{
  width: fit-content;
  background: #FCFCFC;
  height: 300vh;
}

.main-app-container{
  margin-left: 6rem;
  margin-top: 2rem;
}

.side-bar-countainer-items{
  /* padding-left: 17px; */
    /* padding-right: 150px; */
    padding-top: 1rem;
}

.side-bar-countainer-top-item{
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 2rem;
}

.side-bar-countainer-name{
  margin-left: 12px;
  margin-top: -2px;
  font-weight: bolder;
  opacity: 0.8;
  font-size: 29px;
  color: #404040;
}
.side-bar-countainer-create-task{
  background: #EEF2FB;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  display: flex;
  justify-content: space-between;

}

.month-calendar-container{
  width: 95%;

  /* background-color: #d1d0e3; */
}
.month-calendar-container-one{
  display: flex;
  justify-content: space-between;
}
.month-calendar-container-day{
  opacity: 0.3;
}
.month-calendar-container-day-active{
   background-color: #346BF8;
    width: 3rem;
    height: 23.5px;
    border-radius: 7px;
    padding-top: 2px;
    padding-left: 16px;
    color: white;
   
}

.vertical-line{
  display: inline-block;
  border-left: 1px solid #ccc;
  /* margin: 0 10px; */
  height: 300vh;
  opacity: 0.3;
  z-index: -10;

}
.month-dashboard-container{
  position: relative;
}
.workers-cards-container{
  position:absolute;
  top: 20rem;
  z-index: 10;
}

.tasks-container{
  position: absolute;
  top: 21rem;
  /* background-color: aliceblue; */
  width: 100%;
}

.tasks-container-position-8{
  margin-left: 33rem;
  width: 37%;
  /* background-color: #FFF2EA; */
  height: 3rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.tasks-container-position-inner-8{
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  /* justify-content: space-evenly; */
}
.tasks-container-percentage-position-8{
  margin-left: 28rem;
}


.tasks-container-position-2{
  margin-left: 4rem;
  width: 71%;
  height: 3rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.tasks-container-position-inner-2{
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  /* justify-content: space-evenly; */
}
.tasks-container-percentage-position-2{
  margin-left: 63rem;
}

.tasks-container-position-4{
  margin-left: 18rem;
  width: 48%;
  height: 3rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.tasks-container-position-inner-4{
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  /* justify-content: space-evenly; */
}
.tasks-container-percentage-position-4{
  margin-left: 40rem;
}

.tasks-container-position-9{
  margin-left: 26rem;
  width: 30%;
  height: 3rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.tasks-container-position-inner-9{
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  /* justify-content: space-evenly; */
}
.tasks-container-percentage-position-9{
  margin-left: 22rem;
}

.tasks-container-position-7{
  margin-left: 23rem;
  width: 47%;
  height: 3rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.tasks-container-position-inner-7{
  height: 3rem;
  border-radius: 3rem;
  display: flex;
  /* justify-content: space-evenly; */
}
.tasks-container-percentage-position-7{
  margin-left: 38rem;
}

.percentage-loader-container{
  display: flex;
}
.percentage-loader-container-left{
  margin-left: auto;
  display: flex;
  margin-right: 7rem;
}
.percentage-loader-container-outer-loader{
  width: 100%;
  background-color: aliceblue;
  height: 8.5px;
}
.percentage-loader-container-inner-loader{
  background-color: #346BF8;
 
    height: 100%;
    max-width: 100%
}

.invite-border-line{
  margin-right: 5rem;
  border: 2.5px;
  border-style: dashed;
  border-radius: 18.2px;
  border-color: #9e9797;
  height: 2rem;
  width: 10rem;
  display: flex;
  /* margin-top: 3px; */
  justify-content: center;
  padding-top: 10px;
}

.vertical-ruler-container{
  position: absolute;
    top: 20rem;
    right: 37rem;
    display: flex;
    flex-direction: column;
    z-index: 74;
}
.vertical-line-ruler{
  display: inline-block;
  border-left: 2px solid #346BF8;
  /* margin: 0 10px; */
  height: 300vh;
 
  /* opacity: 0.3; */
  /* z-index: -10; */

}